/* GENERAL STYLES */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* stile caratteri */
    font-family: sans-serif;

    /* Sfondo pagina */
    background-color:  rgb(226, 226, 226);
}

/* UTILYTIES */
/* tutto ciò che sarà dentro al div avrà queste caratteristiche perchè gli ho dato una classe */

 .container{
     /* impostata larghezza dell'elemento */
     width: 60%;
     
     /* impostati i margini di tutti gli elementi del container 0% (sopra e sotto) , auto (imposta di default destra e sinistra per centrarsi in automatico */
     margin: 0% auto;

     /* sfondo contesto  */
     background-color: white;

     /* arrotonda i bordi dello sfondo (scrivendo solo così li arrotonda in tutti e 4 i lati) */
     border-radius: 5px;

 }

 /* HEADER SECTION */
header {
    /* spazio il contenuto verso il basso */
    margin-bottom: 40px;
    /* distanza tra il contenuto e il bordo del blocco (la pagina in questo caso) 10px (sopra e sotto) 20px (destra e sinistra) */
    padding: 10px 20px;
    /* sfondo header in questo caso bianco */
    background-color: rgb(255, 254, 254);
}

.logo {
    /* allinea verticalmente tutto ciò che c'è su questa linea di codice */
    vertical-align: middle;
}

.logo-text {
    /* grassetto testo affianco al logo */
    font-weight: 750;

    /* grandezza testo */
    font-size: 38px;

    /* allinea verticalmente tutto ciò che c'è su questa linea di codice */
    vertical-align: middle;
}
