/* GENERAL STYLES */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* stile caratteri */
    font-family: sans-serif;

    /* Sfondo pagina */
    background-color:  rgb(226, 226, 226);
}

/* UTILYTIES */
/* tutto ciò che sarà dentro al div avrà queste caratteristiche perchè gli ho dato una classe */

 .container{
     /* impostata larghezza dell'elemento */
     width: 60%;

     /* impostati i margini di tutti gli elementi del container 0% (sopra e sotto) , auto (imposta di default destra e sinistra per centrarsi in automatico */
     margin: 0% auto;

     /* sfondo contesto  */
     background-color: white;

     /* arrotonda i bordi dello sfondo (scrivendo solo così li arrotonda in tutti e 4 i lati) */
     border-radius: 5px;

 }

 /* HEADER SECTION */
header {
    /* spazio il contenuto verso il basso */
    margin-bottom: 40px;
    /* distanza tra il contenuto e il bordo del blocco (la pagina in questo caso) 10px (sopra e sotto) 20px (destra e sinistra) */
    padding: 10px 20px;
    /* sfondo header in questo caso bianco */
    background-color: rgb(255, 254, 254);
}

.logo {
    /* allinea verticalmente tutto ciò che c'è su questa linea di codice */
    vertical-align: middle;
}

.logo-text {
    /* grassetto testo affianco al logo */
    font-weight: 750;

    /* grandezza testo */
    font-size: 38px;

    /* allinea verticalmente tutto ciò che c'è su questa linea di codice */
    vertical-align: middle;
}

/* SEZIONE CLASSE ACTION */

.action {
    /* distanza dei due bottoni dal bordo di 10px (sopra e sotto)  50px (destra e sinistra*/
    padding: 10px 50px;

    /* con questo ho impostato il bordo inferiore di colore grigio (altrimenti avrei dovuto mettere un hr di questo colore, è un modo per ottimizzare questa procedura) */
    border-bottom: 2px solid
    rgb(230, 224, 224) ;
}

/* SEZIONE BOTTONI NELLA CLASSE ACTION */

.button {
    /* ingrandimento bottoni allungandoli sopra e sotto (5px)
    allungamento a destra e sinistra (10px) */
    padding: 5px 10px;
    /* arrotondamento bordi */
    border-radius: 5px;/* grsndezza caratteri */

    font-size: 12px;
}

.button-background {
    /* colore del testa all'interno del bottone */
    color: white;
    /* colore dello sfondo */
    background-color: rgb(87, 126, 255);
    /* colore del bordo */
    border: 1px solid  rgb(87, 126, 255);
}

.button-no-background {
    background-color: transparent;
    color: rgb(218, 216, 216);
    border: 1px solid   rgb(218, 216, 216)
}

/* SEZIONE 1 TASK */
.task {
    /* distanza del contenuto dal bordo */
    padding: 30px 50px;
}

/* SEZIONE NEW TASK */

.gruppo-task {
    margin-bottom: 25%;
    color:#444851
}

li {
    /* NON FA METTERE I PALLINI */
    list-style: none;
    /* FAI LO SPAZIO LE LETTERE TRA UNA LISTA E L'ALTRA */
    padding: 10px 0 ;
}
.spunta-letti {
    display: inline-block;
    width: 16px;
    height: 16px;
    ;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 7px;
    text-align: center;
    /* per centrare bene il tutto */
    vertical-align: middle;
}

.check {
    color: rgb(34, 204, 99);
    border: 1px solid currentColor ;
    line-height: 16px
}

.delete{
    color: tomato;
    border: 1px solid currentColor ;
    line-height: 14px
}

.tag {
    padding: 5px 10px;
 font-size: 10px;
 color: white;
 border-radius: 10px;
 vertical-align: middle;
}

.type-1 {
    background:  rgb(87, 126, 255);
    
}

.type-2 {
    background:rgb(5, 170, 5) ;
}

.type-3 {
    background-color: rgb(170, 54, 216);
}

.type-4 {
    background: orange;
}